body{ background-color: rgba(236, 12, 12, 0.993);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
font-size: x-large;
}
button{ font-size: 40px ;
background-color: rgb(226, 12, 12);
border-radius: 300px;
border-color: rgb(226, 12, 12)

 ;
}
h1{ font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-seri;




}